*{
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 16px;
}
:root{
    --dark: #000;
    --White: #fff;
    --Whitelight:  #f5f5f5;
    --Gray: #404040;
    --Red: rgb(206, 16, 16);
}
body{
    max-width: 1550px;
    width: 100%;
    background: var(--White);
    color: var(--darklight);
    position: relative;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
h1,h2,h3,h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
a, li, p{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}
.nav{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 25;
}
.content{
    width: 97%;
    height: 97%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    z-index: 4;
}
.show{
    display: none;
    visibility: hidden;
}
.music{
    width: 50px;
    height: 50px;   
    background: var(--Red);
    display: flex; 
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed; 
    margin-left: 30px;
    margin-top: 88vh;
    border-radius: 50%;
    z-index: 25;
}
.music::after{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    border: 3px solid var(--Red);
    transform: scale(1.2);
    border-radius: 50%;
    z-index:   1;
}
.music .btn{
    width: 100%;
    height: 100%;
    fill: var(--White);
    border-radius: 50%;
    cursor: pointer;
    z-index: 6;
}
.btn:active{
    transform: scale(0.8);
}
.nav .btn{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 10px;
    cursor: pointer;
    fill: var(--White);
}
.nav a{
    color: var(--dark);
    font-size: 32px;
    margin: 0 10px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
.nav a:hover{
    border-bottom: 2px solid var(--Red);
}
.nav img{
    width: 150px;
    margin: 0 10px;
    transform: translateY(4px);
}
.hero{
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.hero .box{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: end;
    align-items: center;
    z-index: 4;
}
.hero .title{
    width: 50%;
    height: 100%;
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
.hero .title h1{
    color: var(--dark);
    font-size: 96px;
    line-height: 85px;
}
.hero .box .adan{
    width: 550px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hero .box .adan::after, .hero .box .adan::before{
    content: "";
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}
.hero .box .adan::after{
    background: var(--Red);
    opacity: 0.1;
}
.hero .box .adan::before{
    background: url(../img/fondo.png);
    background-size: cover;
    border: 7px solid var(--Red);
}
.hero .box .adan .card-1, .hero .box .adan .card-2{
    position: absolute;
    color: var(--Red);
    font-family: 'oswald', sans-serif;
    font-weight: 400;
}
.hero .box .adan .card-1, .hero .box .adan .card-1::after{
    width: 150px;
    height: 60px;
    border-radius: 24px;
}
.hero .box .adan .card-1{
    color: var(--White);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    transform: translate(50px, 120px);
}
.hero .box .adan .card-1::after{
    content: "";
    background: var(--Gray);
    position: absolute;
    opacity: 0.7;
    z-index: -1;
}
.hero .box .adan .card-2, .hero .box .adan .card-2::after{
    width: 450px;
    height: 60px;
    border-radius: 24px;
}
.hero .box .adan .card-2{
    color: var(--White);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    transform: translate(50px, 480px);
}
.hero .box .adan .card-2::after{
    content: "";
    background: var(--Red);
    position: absolute;
    opacity: 0.7;
    z-index: -1;
}
.hero .box .adan img{
    width: 550px;
    height: 600px;
    filter: drop-shadow(0 0 20px var(--White));
}
.about{
    width: 100%;
    height: 600px;
    background:var(--Whitelight);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
    position: relative;
    z-index: 5;
}
.about .img{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .text{
    width: 50%;
    height: 100%;
    position: relative;
    display: grid;
    place-content: center;
    text-align: left;
    padding-left: 10px;
}
.about .img img{
    width: 370px;
    height: 450px;
    border-radius: 4px;
    box-shadow: 30px 15px 1px var(--Red);
}
.about h2{
    color: var(--dark);
    font-size: 48px;
    border-bottom: 3px solid var(--Red);
}
.about p{
    color: var(--dark);
    font-size: 24px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.fights{
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fights .zeus{
    width: 400px;
    height: 600px;
    position: relative;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fights .zeus .card-1{
    width: 80px;
    height: 35px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White);
    font-size: 25px;
    font-weight: 400;
    font-family: 'oswald', sans-serif;
    transform: translate(80px, 130px);
}
.fights .zeus .card-1::after{
    width: 80px;
    height: 35px;
    content: "";
    background: var(--Red);
    border-radius: 14px;
    position: absolute;
    opacity: 0.8;
    z-index: -1;
}
.fights .zeus .card-2{
    width: 200px;
    height: 35px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White);
    font-size: 25px;
    font-weight: 200;
    font-family: 'oswald', sans-serif;
    transform: translate(200px, 260px);
}
.fights .zeus .card-2:after{
    width: 200px;
    height: 35px;
    content: "";
    background: var(--Gray);
    border-radius: 14px;
    position: absolute;
    opacity: 0.8;
    z-index: -1;
}
.fights .zeus .card-3{
    width: 350px;
    height: 45px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White);
    font-size: 40px;
    font-weight: 200;
    font-family: 'oswald', sans-serif;
    transform: translate(25px, 400px);
}
.fights .zeus .card-3:after{
    width: 350px;
    height: 45px;
    content: "";
    background: var(--Red);
    border-radius: 14px;
    position: absolute;
    opacity: 0.8;
    z-index: -1;
}
.fights .zeus img{
    width: 400px;
    height: 600px;
    filter: drop-shadow(0 0 10px var(--White));
}
.fights .list{
    width: 50%;
    height: 100%;
    display: grid;
    place-content: center;
    text-align: left;
}
.fights .list h2{
    font-size: 55px;
    border-bottom: 3px solid var(--Red);
}
.fights .list p, .fights .list h3{
    font-size: 25px;
    margin: 10px 0;
}
.fights .list h3{
    border-bottom: 3px solid var(--Red);
}
.fights .list li{
    list-style: none;
    font-size: 25px;
}
.fights .list li span{
    color: var(--Red);
    font-size: 26px;
}
.end{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.end .text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}
.end .img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.end img{
    width: 200px;
    height: 300px;
    border: 3px solid var(--Red);
    border-radius: 4px;
    box-shadow: 10px 10px 1px var(--Red);
}
.end h2{
    font-size: 35px;
    border-bottom: 3px solid var(--Red);
}
.end p{
    margin-top: 20px;
    font-size: 25px;
    line-height: 35px;
}
footer{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h2, footer a{
    font-size: 15px;
    margin-right: 10px;
    text-decoration: none;
}
footer a{
    color: var(--White);
    padding: 0 5px;
    background: var(--Red);
    border-radius: 10px;
}